/*Estilos da página index.html*/
.center{
    text-align: center;
    margin: 0px;
}
.justify{
   text-align:justify;
   font-size:20px;
}
.container{
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
}

.background{
    background-color: rgb(212, 225, 240);
    font-family: sans-serif;
    color: rgba(21, 67, 100, 0.993);
}
#menu{
    background-color: rgb(131, 178, 231);
    color: rgba(21, 67, 100, 0.993);
    padding: 30px;
}
#menu li{
    display: inline;
    padding: 15px;
    
}
#menu li a{
    
    text-decoration: none;
    color: rgba(21, 67, 100, 0.993);
    font-size: 20px; 
}
#menu li a:hover{ /*Muda a cor ao passar o cursos do mouse*/
    color: gray;
}
.p-30{
    padding: 30px;
}
.br-50{
    border-radius: 50%;
}
.wh-300{
    width: 300px;
    height: 300px;
}
.tm-social{
    width: 50px;
    height: 50px;
}
.mb-50{
    margin-bottom: 50px;
}

